@{ Layout = "_LayoutAdmin"; }
    <div class="d-flex">
        <div class="p-4" style="max-width: 1200px; margin: 0 auto;">
            <div class="justify-content-between mb-3" style="display: flex;">
                <p class="ml-1 pl-1">Пользователи</p>
            </div>
            <div class="table-responsive-sm">
                <table class="table table-bordered text-center">
                    <thead class="bg-info">
                        <tr>
                            <th></th>
                            <th>ID</th>
                            <th>Email</th>
                            <th>ФИО</th>
                            <th>Дата регистрации</th>
                            <th>Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" style="transform: scale(1.5)">
                            </td>
                            <td>0</td>
                            <td>mr.mishana-319@yandex.ru</td>
                            <td>Кириллов Михаил Александрович</td>
                            <td>21/10/2020</td>
                            <td>
                                <button class="m-1 btn btn-info">Редактировать</button>
                                <button class="m-1 btn btn-danger">Удалить</button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
