@{ Layout = "_Layout"; }
@model ParkStroiteleyMVC.Models.ModelPages.IndexModel;
@using ParkStroiteleyMVC.Models.Extensions;
<div class="news-wrapper">
    <div class="row">
        <div class="col pb-4">
            <h2>Последние новости парка</h2>
        </div>
    </div>
<div class="container">
    @for (int i = 0; Model.News != null && i < Model.News.Count; i ++)
    {
        <div class="row new pt-3 pb-3 mb-3">
            <div class="col-md-4">
                <img class="img-fluid" src="@Model.News[i].Blocks[0].ImageURL">
            </div>
            <div class="col-md-8 pt-2" style="padding-bottom: 30px;">
                <p> @Model.News[i].Blocks[0].Text?.ToPreview()</p>
                <a class="mycol5" href="cardNews.html?#content">Читать дальше</a>
                <div class="row footernews">
                    <span class="pl-3">@Model.News[i].DatePublish</span>
                    <span class="pr-3"> <span class="badge badge-primary">@Model.News[i].Type.GetEnumMemberAttributeValue()</span></span>
                </div>
            </div>
        </div>
    }
    </div>
</div>
